h1{
    color: white;
    text-align: center;
    background-color: #36B6D4;
    font-size: 20px;
    padding: 10px;
    display: block;
    text-align: center;
    margin: 10px;
}
body {
    background-color: white;
    font-family: 'Trebuchet MS'; 
    color: black;
    text-align: center;
}


